extends base

block title
  if config.subtitle
    title= config.title + ' | ' + config.subtitle
  else
    title= config.title

block content
  - var imgRegExp = new RegExp("https?://*[^>\n]*(?:(?:\\.(?:tiff?|jpe?g|gif|png|svg|ico)|ipfs/[a-z\\d]{40,}))", "gim")
  for post in page.posts.toArray()
    - var photos = post.content.match(imgRegExp)
    .post
      h1.post-title
        include _partial/helpers.pug
        a(href=url_for(post.path))
          +title(post)
      .post-meta= post.date.format(config.date_format)
      if theme.disqus
        a.disqus-comment-count(data-disqus-identifier=post.path, href=url_for(post.path) + '#disqus_thread')
      if theme.changyan
        a.ds-thread-count(href=url_for(post.path) + '#SOHUCS')
          span.cy_cmt_count(id='sourceId::' + post.date.valueOf() style='margin: 0 3px 0 1px;') 0
          span= ' ' + __('Comment')
      if post.description
        .post-content
          != post.description
      else if post.excerpt
        .post-content
          != post.excerpt
      else if post.content
        - var description = strip_html(post.content)
        //- - description = description.replace(/\n/gm, ' ')
        - description = description.replace(imgRegExp, '')
        - description = description.replace(/^(((http(s?))\:\/\/)?)([0-9a-zA-Z\-]+\.)+[a-zA-Z]{2,6}(\:[0-9]+)?(\/\S*)?/g, '')
        - description = description.replace(/(http(s)?:\/\/steemitimages.com\/([0-9]+x[0-9]+)\/)?http(s)?:\/\/(\w*:\w*@)?[-\w.]+(:\d+)?(\/([\w/_.]*(\?\S+)?)?)?/g, '')
        - description = description.replace(/\s+$/, '')
        - description = description.replace(/\n|\r|\s+/g, ' ')
        - description = description.replace(/^(\s+)?>/, '')
        - description = description.replace(/&(nb|em|en)sp;/g, '')
        - description = trim(description)
        if photos && photos.length > 0
          .post-content.thumbnail
            != truncate(description, { length: 300 })
            != image_tag(photos[0], { alt: "", class: "thumbnail", width: 68, height: 68 })
        else
          .post-content
            != truncate(description, { length: 300 })
        //- anpigon 아래 주석 처리함.
        //- - var br = 0
        //- - for (var i = 0; i < 10; ++i) {
        //-   - br = post.content.indexOf('\n',br+1)
        //-   if br < 0
        //-     - break
        //-   if br > 150
        //-     - break
        //- - }
        //- if br < 0
        //-   .post-content
        //-     != post.content
        //- else
        //-   .post-content
        //-     != post.content.substring(0, br)
            .replace(/<[^>]*>?/gm, '')
            // .replace(/[\n(\<br\s?\/?\>)]/gi, ' ')
      p(class='readmore')
        a(href=url_for(post.path))= __('Readmore')

  include _partial/paginator.pug
  if theme.disqus
    script(id='dsq-count-scr', src='//'+ theme.disqus + '.disqus.com/count.js', async)
  if theme.changyan
    script#cy_cmt_num(src='https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=' + theme.changyan, async)
  if config.mathjax
    include _partial/mathjax.pug
  if config.mathjax2
    include _partial/mathjax2.pug
